/* below CSS adapted from https://css.gg under the MIT License */

.gg-chevron-down-o {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 100px
}

.gg-chevron-down-o::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 6px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    left: 6px;
    top: 5px
}

.gg-chevron-up-o {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 100px
}

.gg-chevron-up-o::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 6px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(-45deg);
    left: 6px;
    bottom: 5px
}

.accordion-item {
    padding: 1rem;
}

.accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    margin: .5rem 0 .5rem 0;
    width: 100%;
    border: none;
    background-color: transparent;
}

.accordion-title h3 {
    font-weight: 700;
    font-size: 1.1rem;
    color: var(--text-primary);
}

.accordion-icon {
    font-weight: 700;
    font-size: 1.1rem;
}

.accordion-content {
    display: inline-block;
    padding: .3rem;
    color: var(--vibrant-color);
    font-weight: 500;
}